.slides section h1, .slides section h2, .slides section h3, .slides section h4 {
    color: green;
}

.yellowgreen{
    color: yellowgreen;
}

.green{
    color: green;
}

.slides section h2, .slides section h3, .slides section h4, .slides section h5 {
    text-transform: none;
}